{{page-title "Delete"}}
<div class="ui segment">
  <form class="ui form">
    <h4 class="ui dividing header">Supprimer une section : {{@model.name}}</h4>
    <button class="ui button positive" {{action "delete" @model}}>Valider</button>

  </form>
</div>
{{outlet}}