{{page-title "Delete"}}
<div class="ui segment">
  <form class="ui form">
    <h4 class="ui dividing header">Supprimer une section : {{@model.name}}</h4>
    <LinkTo class="ui button" @route="board">Annuler</LinkTo>
    <LinkTo class="ui red button" @route="products.addProduct">Valider supression</LinkTo>

  </form>
</div>
{{outlet}}