{{page-title "Contact"}}
<table>
  <thead>
  <tr>
    <td>Nom</td>
  </tr>
  </thead>
  <tbody>
  {{#each @model.contacts as  | contact|}}
    <tr>
      <td>{{contact.nom}}</td>
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
  <tr>
    <td><LinkTo @route="contacts.add">Ajouter</LinkTo></td>
  </tr>
  </tfoot>
</table>
{{outlet}}