{{page-title "Ex1"}}
<div class="card">
  <div class="card-header bg-primary text-light">Ex1: Note application</div>
  <div class="card-body">
    <Textarea class="form-control" @value={{this.content}}/>
  </div>
</div>
{{outlet}}